<app-header current='blog'></app-header>
<div #parent class='global-content'>
    <div #top style='height: 40px;'>
        <app-spinner1 [diameter]='20' [isLoading]='isLoading' (clickRefresh)='clickTop()'></app-spinner1>
    </div>
    <div *ngFor='let article of datas; let i = index' [attr.key]='key(article)'>
        <app-article [article]='article' (clickTitle)='clickArticle(article)'></app-article>
        <mat-divider></mat-divider>
    </div>
    <div #bottom style='height: 40px;'>
        <app-spinner1 [diameter]='20' [isLoading]='isLoading' (clickRefresh)='clickBottom()'></app-spinner1>
    </div>
</div>