<mat-card>
    <mat-card-content>
        <div class='mat-h3 title' *ngIf='article' (click)='clickTitle.emit()'>{{article.title}}</div>
        <div *ngIf='article'>
            <app-article-tag *ngFor='let tag of article.tags' [tag]='tag' (click)='clickTag.emit(tag)'>
                {{tag.name}}
            </app-article-tag>
        </div>
        <div class='padding'></div>
        <div class='published-at' *ngIf='article'>{{article.publishedAt*1000 | date:'yyyy/MM/dd'}}</div>
    </mat-card-content>
</mat-card>