$padding: 6px;

$header-height: $padding * 8;

$font-size-caption: 14px;

$smp-width: 500px;

@mixin global-header {
    height: $header-height;
    z-index: 10;
}

@mixin global-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: $header-height;
    bottom: 0px;
}