@import '../../common.scss';

.main-content {
    @media screen and (max-width: $smp-width) {
        position: absolute;
        left: 0px;
        right: 0px;
        top: $header-height;
        bottom: 0px;
    }
    @media screen and (min-width: $smp-width) {
        position: absolute;
        left: 0px;
        width: $smp-width;
        top: $header-height;
        bottom: 0px;
    }
    // box-sizing: border-box;
    // border: 3px solid red;

    overflow: scroll;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

app-article-tag {
    padding-right: $padding;
}

mat-card {
    padding: $padding;
    border-radius: 0px;
}

.title {
    margin: 0px;
}

.padding {
    height: $padding;
    width: $padding;
}

.padding-bottom {
    height: $padding * 10;
}

.ops {
    position: fixed;
    right: $padding;
    bottom: $padding;
    // opacity: 0.5;
    z-index: 10;
}