<div [innerHTML]='ldJSON'></div>
<app-header current='blog-each'></app-header>
<div class='global-content mat-app-background'>
    <mat-card>
        <mat-card-content>
            <h1 class='title' *ngIf='article'>{{article.title}}</h1>
            <div class='padding'></div>
            <div class='mat-body' *ngIf='article'>{{article.publishedAt * 1000 | date:'yyyy/MM/dd'}}</div>
            <div class='padding'></div>
            <div *ngIf='article' class='tags'>
                <app-article-tag *ngFor='let tag of article.tags' [tag]='tag' (click)='clickTag(tag)'>
                    {{tag.name}}
                </app-article-tag>
            </div>
            <div class='padding'></div>
            <div class='padding'></div>
            <div [innerHTML]="articleRaw"></div>
        </mat-card-content>
    </mat-card>
</div>